@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  
  .obatObat {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .cardObat {
      background-color: #ddd;
      display: flex;
      flex-direction: column;
      column-gap: 1em;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 2px solid #ccc;
      border-radius: 5px;
      .atasObat {
        display: flex;
        column-gap: 1em;
        .isiObat {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 2em;
          }
          h2 {
            font-size: 2em;
          }
          p {
            font-size: 1.5em;
          }
        }
        img {
          width: 20%;
          object-fit: contain;
          /* object-position: center; */
        }
      }
      .bawahObat {
        display: flex;
        flex-direction: column;
        column-gap: 1em;
      }
    }
    @media screen and (max-width: 600px) {
      .cardObat {
        display: flex;
        column-gap: 1em;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 2px solid #ccc;
        border-radius: 5px;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        .atasObat{
          flex-direction: column;
          img{
            width: 100%;
          }
          .isiObat{
          h1,
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
        }
        h1,
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
        img {
          width: 30%;
        }
      }
    }
  }

  footer {
    background-color: #333;
    position: relative;
    bottom: 0;
    color: white;

    text-align: center;
    padding: 20px;
    position: relative;
  }
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  .social-icons a:hover {
    color: #04aa6d;
  }
  .scroll-btn {
    background-color: #04aa6d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  .scroll-btn:hover {
    background-color: #028e54;
  }
}
