main{
  
#help {
  width: 100vw;
  height: 100vh;
   padding: 1em;
  background-image: url(../assets/foto/v870-tang-35.jpg);
  background-size: cover;
  background-position: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
    font-size: 70px;
    
  }
  p{
    text-align: center;
    font-size: 30px;
 
  }
  @media screen and (max-width: 600px) {
    display: flex;
   
    flex-wrap: wrap;
    h1{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
    
  }
}

}